<!DOCTYPE html>
<html>
<head>
<title>Manufacturer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div ng-app="myApp" ng-controller="schneider_invoiceCtrl_successCtrl" ng-init="onloadS()">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container-fluid">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="breadcrumb_main">
    <div class="left"><a  ><img src="images/back.png">&nbsp;Home</a></div>
    <div class="right"><a  ><img src="images/sign_out.png">&nbsp;Signout</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="dashboard">
    <div class="dashboard_left">
      <h1>Manufacturer</h1>
      <div class="user"><span>Manufacturer</span>
        Chief Supplying Officer</div>
      <div class="left_menu">
        <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
        <div class="panel">
          <ul>
            <li><a href="/index.html#!/schneider_purchaseOrder" ng-click="refreshPage()">Purchase Order</a></li>
            <li><a href="/index.html#!/schneider_goodReceipt" ng-click="refreshPage()">Goods Receipt</a></li>
          </ul>
        </div>
        <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_consumption')"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
        <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_payment')"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
        <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
        <div class="panel">
          <ul>
            <li><a href="/index.html#!/schneider_purchaseOrder_search" ng-click="refreshPage()">Purchase Order</a></li>
            <!-- <li><a  >Goods Receipt</a></li> -->
            <li><a href="/index.html#!/schneider_invoice" ng-click="refreshPage()">Invoice</a></li>
          </ul>
        </div>
      </div>
      <ul class="left_submenu">
        <li><a href="/index.html#!/schneider_notifications" ng-click="refreshPage()"><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</a></li>
        <li><a href="/index.html#!/schneider_report" ng-click="refreshPage()"><img src="images/icon_6.gif">&nbsp;&nbsp;Report</a></li>
      </ul>
  </div>
    <div class="dashboard_right">
    <h3>Payment</h3>
        <div class="loader" ng-show="loading" ></div>

      <div  >
          <div style="text-align: center" class="alert alert-success" ng-show="sucess2">
              Payment Succesful. Blockchain Transaction Id: {{transactionId}} 
            </div>
            <div style="text-align: center" class="alert alert-danger" ng-show="fialuier3">
               Payment failed
            </div>
          
            <div style="text-align: center" class="alert alert-danger" ng-show="fialuier1">
                Failed to fetch data
               </div>
      <div class="col-md-4">
        <label>Invoice ID</label>
        <input type="text" ng-model="invoiceId" readonly>
        <label>Batch Id</label>
        <input type="text" ng-model="batchId" readonly>
      </div>
      <div class="col-md-4">
        <label>PO Number</label>
        <input type="text" ng-model="poNumber" readonly>
        <label>Amount to be paid</label>
        <input type="text" ng-model="perUnitPrice" readonly>
      </div>
      <div class="col-md-4">
        <label>SE materialCode</label>
        <input type="text" ng-model="materialCode" readonly>
        <label>Total Quantity</label>
        <input type="text" ng-model="quantity" readonly>
      </div>
      <div class="clearfix"></div>
    <div class="submit_block"></div>
<input type="submit" value="Pay" ng-click="generate()">
  </div>

   
    
  
  <div class="clearfix"></div>


    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div>
<!-- Content Section ends here--> 

<!-- Footer Section starts here-->
<footer class="footer">©  copyright 2018</footer>
<!-- Footer Section ends here--> 

</body>
</html>
