<!DOCTYPE html>
<html>
<head>
    <title>Manufacturer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div ng-app="myApp" ng-controller="schneider_goodReceiptCtrl">
    <div class="container-fluid"> 
      
      <!-- Header Section starts here-->
      <header class="header_bg">
          <div class="header_left"></div>
          <div class="header_right"></div>
          <div class="container-fluid">
            <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
            <div class="banner_text_right"> Blockchain for Business<br>
              <b>WITH IBM BLOCKCHAIN</b> </div>
          </div>
        </header>
        <!-- Header Section ends here--> 
        
        <!-- Content Section ends here-->
        <div class="breadcrumb_main">
          <div class="left"><a  ><img src="images/back.png">&nbsp;Home</a></div>
          <div class="right"><a  ><img src="images/sign_out.png">&nbsp;Signout</a></div>
          <div class="clearfix"></div>
        </div>
        <div class="dashboard">
          <div class="dashboard_left">
            <h1>Manufacturer</h1>
            <div class="user"><span>Manufacturer</span>
              Chief Supplying Officer</div>
            <div class="left_menu">
              <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
              <div class="panel">
                <ul>
                  <li><a href="/index.html#!/schneider_purchaseOrder" ng-click="refreshPage()">Purchase Order</a></li>
                  <li><a href="/index.html#!/schneider_goodReceipt" ng-click="refreshPage()">Goods Receipt</a></li>
                </ul>
              </div>
              <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_consumption')"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
              <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_payment')"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
              <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
              <div class="panel">
                <ul>
                  <li><a href="/index.html#!/schneider_purchaseOrder_search" ng-click="refreshPage()">Purchase Order</a></li>
                  <!-- <li><a  >Goods Receipt</a></li> -->
                  <li><a href="/index.html#!/schneider_invoice" ng-click="refreshPage()">Invoice</a></li>
                </ul>
              </div>
            </div>
            <ul class="left_submenu">
              <li><a href="/index.html#!/schneider_notifications" ng-click="refreshPage()"><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</a></li>
              <li><a href="/index.html#!/schneider_report" ng-click="refreshPage()"><img src="images/icon_6.gif">&nbsp;&nbsp;Report</a></li>
            </ul>
        </div>
    <div class="dashboard_right">
       
        <form>
        <div ng-hide="search">
            <h3>Goods Receipt</h3>
        <div style="text-align: center" class="alert alert-danger" ng-show="fialuier">
           No data to display
          </div>
          <div style="text-align: center" class="alert alert-danger" ng-show="batchFall">
              Batch already received
              </div>
          <div class="col-md-4">
          <label>PO Number</label>
          <input type="text"  ng-model="PONumber" required>
          </div>
          <div class="clearfix"></div>
          <div class="submit_block"></div>
          
          <input type="submit" value="SEARCH" ng-click="submit(PONumber)">
        </div>
        </div>
      </form>
        <div class="loader" ng-show="loading" ></div>

    <div class="dashboard_right">
      <form>
        <div  ng-show="search">
        <h3> Goods Receipt</h3>
            <div style="text-align: center" class="alert alert-success" ng-show="sucess">
              Purchase order updated. Blockchain transaction id : {{transactionId}}
              </div>
              <div style="text-align: center" class="alert alert-danger" ng-show="failuer2">
                Could not recive order
              </div>
             
            <div class="col-md-4">
              <label>PO Number</label>
              <input type="text"  ng-model="PONumber" readonly>
              <label>PO Qty</label>
              <input type="text"  ng-model="POQty" readonly>
              <label>PO Creation Date</label>
              <input type="date" ng-model="dateC" readonly>
              <label>Price</label>
              <input type="text" ng-model="price" readonly>
              <label>Received Qty</label>
              <span class="wht"><input type="text" ng-model="shipmentQuantity" required></span>
            </div>
            
            <div class="col-md-4">
              <label>Line No.</label>
              <input type="text" ng-model="LineNo" readonly>
              <label>Quantity Received</label>
              <span ><input type="text" ng-model="totalreceived" readonly ></span>
              <label>UOP</label>
              <input type="text" ng-model="UOP" readonly>
              <label>Receipt ID</label>
              <input type="text" ng-model="receiptId" required>
              <label>Received Date</label>
              <span class="wht"><input type="date" ng-model="ShipmentDate" required></span>
              
            </div>
            <div class="col-md-4">
              <label>SE Material Code</label>
              <input type="text" ng-model="SEmaterialCode" readonly>
              <label>Delivery Date</label>
              <input type="date" ng-model="dateD" readonly>
           
              <label>Currency</label>
              <input type="text" ng-model="Currency" readonly>
              <label>Batch ID</label>
              <input type="text" ng-model="batchCode" required >
            </div>
           
       
        
          <div class="clearfix"></div>
          <div>
            <table >
              <tr ng-repeat="m in batch" >
                <td> Batch Code : <a  >{{m.batchCode}}</a> | Shipped Qty. : <a  >{{m.shippedQuantity}}</a> |<span class="status">Status: <span ng-class="{red: m.val==1,green:m.val==0}">{{m.batchStatus}}</span>| received Qty. : <a  >{{m.receivedQuantity}}</a> </span></td>
              </tr>
    </table>
    <table >
      <tr ng-repeat="m in batchShipped" >
        <td> Batch Code : <a  >{{m.batchCode}}</a> | Shipped Qty. : <a  >{{m.shippedQuantity}}</a> |<span class="status">Status: <span ng-class="{red: m.val==1,green:m.val==0}">{{m.batchStatus}}</span>| received Qty. : <a  >{{m.receivedQuantity}}</a> </span></td>
      </tr>
</table>
  </div>
          <div class="submit_block">
          
            <input type="submit" value="SUBMIT" ng-click="proceed(batchCode)">
        </div>
        </div>
      
      </div>
     
      <div class="clearfix"></div>
	  
    </div>
    <div class="clearfix"></div>
  </div>
</form>
  <!-- Content Section ends here--> 
  
 
  </div>
</div>
</body>
</html>