<!DOCTYPE html>
<html>
<head>
<title>Supplier</title>
<title>Manufacturer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div ng-app="myApp" ng-controller="flextronics-loginCtrl">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container-fluid">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="schneider_banner">
    <div class="login_form supplier">
      <div class="left">
        <ul >
          <li><a href="/index.html#!/flextronics-login">Supplier</a></li>
         <li><a href="/index.html#!/schneider_login">Manufacturer</a></li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>
            <label>User Name</label>
          </li>
          <li>
            <input type="text" ng-model="user" >
          </li>
          <li>
            <label>Password</label>
          </li>
          <li>
            <input type="password" ng-model="password">
          </li>
          <li>
            <input type="button" value="Login" ng-click="login()">
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Content Section ends here--> 

<!-- Footer Section starts here-->
<footer class="footer">©  copyright 2018</footer>
<!-- Footer Section ends here-->

</div>
</div>
</body>
</html>