<!DOCTYPE html>
<html>
<head>
<title>Supplier</title>
<title>Manufacturer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div ng-app="myApp" ng-controller="invoice-successCtrl" ng-init="onLoadS()" >
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container-fluid">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="breadcrumb_main">
    <div class="left"><a  ><img src="images/back.png">&nbsp;Home</a></div>
    <div class="right"><a  ><img src="images/sign_out.png">&nbsp;Signout</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="dashboard_drk">
    <div class="dashboard_drk_left">
      <h1>Supplier</h1>
      <div class="user"><span>Supplier</span>
        Chief Supplying Officer</div>
		<ul class="left_menu"><li><a href="/index.html#!/flextronics-purchase-order" ng-click="refreshPage()"><img src="images/icon_9.png">Purchase Order</a></li><li><a href="/index.html#!/invoice" ng-click="refreshPage()"><img src="images/icon_10.png">Invoice</a></li><div class="clearfix"></div></ul>
      
      <ul class="left_submenu">
        <li><a href="/index.html#!/flextronics-notifications" ng-click="refreshPage()"><img src="images/icon_7.png">&nbsp;&nbsp;Notification</a></li>
        <li><a href="/index.html#!/invoice" ng-click="refreshPage()"><img src="images/icon_8.png">&nbsp;&nbsp;Report</a></li>
      </ul>
    </div>
    <div class="dashboard_drk_right">
      <h3>Invoice Submission</h3>
      <div  >
        <div style="text-align: center" class="alert alert-success" ng-show="sucess2">
            Approved Invoice. Blockchain transcation Id: {{transactionId}} 
          </div>
          <div style="text-align: center" class="alert alert-danger" ng-show="fialuier3">
              Invoice Submission failed
          </div>
        
          <div style="text-align: center" class="alert alert-danger" ng-show="fialuier1">
              Failed to fetch data
             </div>
        <div  >
            <div class="loader" ng-show="loading" ></div>
            
        <div class="col-md-4">
          <label>Invoice ID</label>
          <input type="text" ng-model="invoiceId">
          <label>Batch Id</label>
          <input type="text" ng-model="batchId">
        </div>
        <div class="col-md-4">
          <label>PO Number</label>
          <input type="text" ng-model="poNumber">
          <label>Amount to be paid</label>
          <input type="text" ng-model="perUnitPrice">
        </div>
        <div class="col-md-4">
          <label>SE materialCode</label>
          <input type="text" ng-model="materialCode">
          <label>Total Quantity</label>
          <input type="text" ng-model="quantity">
        </div>
        <div class="clearfix"></div>
      <div class="submit_block"></div>
  <input type="submit" value="Approve" ng-click="generate()">
    </div>
   
    
    <div class="clearfix"></div>

</div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
  <!-- Content Section ends here--> 
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2018</footer>
  <!-- Footer Section ends here--> 

</body>
</html>