<!DOCTYPE html>
<html>
<head>
<title>Manufacturer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="refresh" content="0">
</head>
<body>
  <div ng-app="myApp" ng-controller="schneider_notificationsCtrl" ng-init="onload()">
<div class="container-fluid"> 

<!-- Header Section starts here-->
<header class="header_bg">
  <div class="header_left"></div>
  <div class="header_right"></div>
  <div class="container-fluid">
    <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
    <div class="banner_text_right"> Blockchain for Business<br>
      <b>WITH IBM BLOCKCHAIN</b> </div>
  </div>
</header>
<!-- Header Section ends here--> 

<!-- Content Section ends here-->
<div class="breadcrumb_main">
  <div class="left"><a  ><img src="images/back.png">&nbsp;Home</a></div>
  <div class="right"><a  ><img src="images/sign_out.png">&nbsp;Signout</a></div>
  <div class="clearfix"></div>
</div>
<div class="dashboard">
  <div class="dashboard_left">
    <h1>Manufacturer</h1>
    <div class="user"><span>Manufacturer</span>
      Chief Supplying Officer</div>
    <div class="left_menu">
      <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
      <div class="panel">
        <ul>
          <li><a href="/index.html#!/schneider_purchaseOrder" ng-click="refreshPage()">Purchase Order</a></li>
          <li><a href="/index.html#!/schneider_goodReceipt" ng-click="refreshPage()">Goods Receipt</a></li>
        </ul>
      </div>
      <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_consumption')"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
      <button class="accordion_1" ng-click="navigate('/index.html#!/schneider_payment')"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
      <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
      <div class="panel">
        <ul>
          <li><a href="/index.html#!/schneider_purchaseOrder_search" ng-click="refreshPage()">Purchase Order</a></li>
          <!-- <li><a  >Goods Receipt</a></li> -->
          <li><a href="/index.html#!/schneider_invoice" ng-click="refreshPage()">Invoice</a></li>
        </ul>
      </div>
    </div>
    <ul class="left_submenu">
      <li><a href="/index.html#!/schneider_notifications" ng-click="refreshPage()"><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</a></li>
      <li><a href="/index.html#!/schneider_report" ng-click="refreshPage()"><img src="images/icon_6.gif">&nbsp;&nbsp;Report</a></li>
    </ul>
</div>
  <div class="dashboard_right">
   
      <div class="loader" ng-show="loading" ></div>
      
     <div style="text-align: center" class="alert alert-danger" ng-show="noData">
           No notifications 
           </div>
        <h3>Overdue Notifcations(>90 days)</h3>
        <table>
          
            <tr ng-repeat="x in PODataUnpaid">
              <td>PO No. : <a  ><span>{{x.poNumber}}</span> </a> Material Code : <a  ><span >{{x.materialCode}}</span>  Batch Id:  <span >{{x.batch}}</span>   </a>  Available Quantity <a  ><span>{{x.quantity}}</span></a>Receipt Date <a  ><span>{{x.date}}</span></a>Overdue period<a  ><span>{{x.day}}</span></a> <a href="/index.html#!/schneider_notification_success" ng-click="generateInvoice(x.poNumber,x.materialCode,x.batch,x.quantity)"><img src="images/arrow.png"></a>  </td>
                </tr>
               
</table>
          
        </div>
    
        <div class="clearfix"></div>
</div>
            
<!-- Content Section ends here--> 

<!-- Footer Section starts here-->
<footer class="footer">©  copyright 2018</footer>
<!-- Footer Section ends here--> 
</div>
</div>
</body>
</html>
